<h1><%=@employee.username%>'s Tasks</h1>
<br>


<form action ="/employees/<%=@employee.slug%>" method = "post">

  <%@tasks.each do |task|%>
    <input type="checkbox" name="content" value="<%=task.content%>"><%=task.content%>
    <br>
  <%end%>
  <input type = "submit" value="submit">
</form>


<br>
<a href ="/employees/<%=@employee.slug%>/logout">Log Out</a>
